
.root {
	-fx-background-color: #fff
}

.button {
	-fx-font: 12.0px "Sans-Serif";
    -fx-font-weight: bold;
}

.button:hover, .btn-fred-main:hover{
    -fx-base: #395bae;
}

#fredTitle {
	-fx-text-fill: #fff;
}

.btn-fred-main {
	-fx-font: 14.0px "Sans-Serif";
    -fx-font-weight: bold;
	-fx-background-color: #116493;
	-fx-text-fill: #fff;
	-fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 30.0%) 
        transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: left center;

}

#btnSync {
	-fx-background-image:url('/images/ic_sync.png');
}

#btnImport {
	-fx-background-image:url('/images/ic_import.png');
}

#btnConfig{
	-fx-background-image:url('/images/ic_config.png');
}

#btnExit{
	-fx-background-image:url('/images/ic_exit.png');
}

.btnLocation{
	-fx-background-image:url('/images/ic_maps_place.png');
}

.btnPizza{
	-fx-background-image:url('/images/ic_pie_chart.png');
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	
}

.btnPizzaSimple{
	-fx-background-image:url('/images/ic_simples_pie_chart.png');
		-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	
}

.btnVertical{
	-fx-background-image:url('/images/ic_vert.png');
		-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	
}

.btnHorizontal{
	-fx-background-image:url('/images/ic_hor.png');
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

.btnPoints{
	-fx-background-image:url('/images/ic_points_chart.png');
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}


.btnExportJson {
}

.btn-fred-main:hover {
    -fx-background-color: #a2deff;
}

#btn-fred-main:pressed {
	-fx-background-color: #317256;
}

.btn-fred-lists {
	-fx-font: 12.0px "Sans-Serif";
    -fx-font-weight: bold;
}

.btn-fred-activities {
	 -fx-background-color:  #faa622;
}

.btn-fred-collects {
	 -fx-background-color: #c4d70c;
}


.btn-fred-reports {
	 -fx-background-color: #ea4335;
}


.root.popup {
    -fx-background-color: transparent;
}

.fred-tab-pane {
	-fx-background-color: #fff;
	-fx-font-weight: bold;
}

#btPanel {
	-fx-background-color: #525162;
	
}

.tab-pane .tab-header-area .tab-header-background {
	   -fx-background-color: #bababa;
}

.tab-pane
{
    -fx-tab-min-width:90.0px;
    -fx-text-fill: #fff;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}
.tab-pane .tab
{
    -fx-background-color: #f9f9f9;

}

.tab-pane .tab:selected
{
    -fx-background-color: #525162;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #89dff7;
    -fx-text-fill: #142325;
}

.list-cell:even,.list-cell:odd { 
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #89dff7;
    -fx-text-fill: #142325;
}

.fred-button-bar {
	-fx-background-color:  #525162;
}

