@CHARSET "UTF-8";

.root {
	-fx-background-color: #e2edde;
}

.btn-fred-main {
	-fx-font: 12px "Sans-Serif";
	-fx-padding: 10;
	-fx-background-color: #a9c99c;
	-fx-border-radius: 1px;
	-fx-font-weight: bold;
	-fx-background-insets: 0 0 0 0;
}

.btn-fred-main:hover {
	-fx-text-fill: #fff;
}

.root.popup {
    -fx-background-color: transparent;
}

.btn-fred-simple {
	-fx-font: 10px "Sans-Serif";
	-fx-padding: 5;
	-fx-background-color: #419873;
	-fx-border-radius: 1px;
	-fx-font-weight: bold;
	-fx-background-insets: 0 0 0 0;
}




.fred-tab-pane {
	-fx-background-color: #fff;
}

#fred-btn-sincronizar:selected {
	-fx-background-color: #317256;
}