<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Fred TM Manager</title>
<link th:href="@{/libs/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" media="screen" />
<link th:href="@{/libs/bootstrap/dist/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link th:href="@{/css/app.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="custom-bootstrap-menu"
		class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand" href="#"> <img
					style="margin-top: -15px;" th:src="@{/imgs/app.png}" />
				</span> <span class="navbar-brand custom-navbar-brand" href="#">
					Fred TM Manager </span>
			</div>
		</div>
	</div>

	<div id="wrapper" class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="form">
					<h1>Trocar Senha</h1>
					<hr />

					<form id="change-form" action="/fredapi/" name="changeForm" method="POST">
						<input id="token" name="token" type="hidden" th:value="${token}" />
						<div class="password-group form-group">
							<label>Nova Senha</label> <input type="password"
								class="form-control" name="newPassword" required="required" />
							<p class="to-short help-block hide">A senha é muito curta!</p>
							<p class="to-long help-block hide">A senha é muito longa!</p>
						</div>
						<div class="retry-group form-group">
							<label>Digite novamente</label> <input type="password"
								class="form-control" name="retryNewPassword" required="required" />
							<p class="diff-input help-block hide">As senhas não são
								iguais.</p>
						</div>
						<input type="submit" value="Salvar" class="btn btn-primary" disabled="disabled"/>
					</form>
				</div>

			</div>
		</div>
	</div>
	<script th:src="@{/libs/jquery/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/app.js}"></script>
</body>
</html>