#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    background-color: rgba( 0, 12, 20, 1);
}

.custom-navbar-brand {
    min-width: 180px;
    border-right: 2px solid rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(248, 248, 248, 1);
    border-bottom: 1px solid rgba(0, 12, 20, 0.2);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(92, 92, 92, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    background-color: rgba(92, 92, 92, 1);
    color: rgba(248, 248, 248, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(92, 92, 92, 1);
    color: rgba(231, 231, 231, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #4295cc;
}

body {
    padding-top: 50px;
}

.main-page-block {
    background-color: white;
    border-right: 2px solid rgba( 0, 12, 20, 1);
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    width: 80%;
}

.footer {
    margin-top: 10px;
    border-top: 2px solid rgba( 0, 12, 20, 1);
    text-align: center;
    width: 100%;
}